[submodule "3rdparty/fmt"]
	path = 3rdparty/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = git@github.com:tlc-pack/libbacktrace.git
