[submodule "3rdparty/libbacktrace"]
	path = 3rdparty/libbacktrace
	url = git@github.com:tlc-pack/libbacktrace.git
[submodule "3rdparty/cpufp"]
	path = 3rdparty/cpufp
	url = git@github.com:pigirons/cpufp.git
[submodule "3rdparty/STREAM"]
	path = 3rdparty/STREAM
	url = git@github.com:jeffhammond/STREAM.git
